@use 'base/mixins' as m;
@use 'base/variables' as v;

.nuevo-pass {
    margin-top: 5rem;
    .uptask {
        @include m.textoDegradado(v.$naranja)
    }

    input[type='submit'] {
        @include m.boton(v.$naranja, v.$blanco);
    }

    .acciones {
        a {
            color: v.$naranja;
            transition: color 0.3s ease;

            &:hover {
                color: darken( v.$naranja, 30% );
            }
        }
    }
}