@use 'base/mixins' as m;
@use 'base/variables' as v;

.nuevo-pass {
    margin-top: 5rem;
    .uptask {
        @include m.textoDegradado(v.$azul)
    }

    input[type='submit'] {
        @include m.boton(v.$azul, v.$blanco);
    }

    .acciones {
        a {
            color: v.$azul;
            transition: color 0.3s ease;

            &:hover {
                color: darken( v.$azul, 30% );
            }
        }
    }
}